<div class="card w-full md:w-auto">
  <div class="container">
    <!-- Mostrar mensaje si no hay partidos -->
    <p *ngIf="partidos.length === 0">No hay Partidos registrados</p>
    <p-card *ngFor="let partido of partidos; let i = index">
      <ng-template pTemplate="header">
        <span class="fecha">{{ partido.fecha | date: 'EEEE d \'de\' MMMM y' }}</span>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="contenido">
          <span class="numero">{{ i + 1 }}</span>
          <span class="equipo">Equipo Blanco</span>
          <span class="circulo blanco"></span>
          <span class="marcador">{{ partido.marcador.equipoBlanco }}</span>
          <span class="marcador"> - </span>
          <span class="marcador">{{ partido.marcador.equipoNegro }}</span>
          <span class="circulo negro"></span>
          <span class="equipo">Equipo Negro</span>
          <p-button icon="pi pi-pencil" severity="success" [rounded]="true" [outlined]="true"
            (click)="editarPartido(partido)" />
          <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
            (click)="eliminarPartido(partido.id)" />
          <p-button icon="pi pi-eye" severity="info" [rounded]="true" [outlined]="true"
            (click)="abrirModal(partido.id)" />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<p-dialog header="Editar Partido" [(visible)]="modalVisible" [modal]="true" [closable]="true" (onHide)="onModalClose()"
  (onShow)="onModalOpen()">
  <div class="card w-full md:w-auto">
    <div>
      Equipo Blanco <span class="marcador">{{ selectedMatch.marcador.equipoBlanco }}</span> -
      Equipo Negro <span class="marcador">{{ selectedMatch.marcador.equipoNegro }}</span>
      <p-select [options]="opcionesEstado" [(ngModel)]="selectedMatch.estado" fluid required [disabled]="esSoloLectura">
      </p-select>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <!-- Añadir Goleadores -->
      <div>
        <span>Goleadores Equipo Blanco</span>
        <p-button *ngIf="!esSoloLectura" label="Añadir Anotador" icon="pi pi-plus"
          (click)="popoverBlanco.toggle($event)"></p-button>
        <p-popover #popoverBlanco>
          <div class="popover-content">
            <p *ngFor="let jugador of getJugadoresDisponibles('Blanco')"
              (click)="!esSoloLectura && agregarGoleador(jugador, 'Blanco')" [class.cursor-not-allowed]="esSoloLectura">
              {{ jugador.apodo }}
            </p>
          </div>
        </p-popover>
      </div>

      <div>
        <span>Goleadores Equipo Negro</span>
        <p-button *ngIf="!esSoloLectura" label="Añadir Anotador" icon="pi pi-plus"
          (click)="popoverNegro.toggle($event)"></p-button>
        <p-popover #popoverNegro>
          <div class="popover-content">
            <p *ngFor="let jugador of getJugadoresDisponibles('Negro')"
              (click)="!esSoloLectura && agregarGoleador(jugador, 'Negro')" [class.cursor-not-allowed]="esSoloLectura">
              {{ jugador.apodo }}
            </p>
          </div>
        </p-popover>
      </div>

      <!-- Lista Blancos -->
      <div class="card">
        <p *ngIf="!getGoleadoresBlanco().length">No hay highlights registradas</p>
        <p-accordion *ngIf="getGoleadoresBlanco().length && renderAccordion" [(activeIndex)]="panelesActivosBlanco">
          <h3>Jugadores Blanco</h3>
          @for (goleador of getGoleadoresBlanco(); track goleador.jugador.id) {
          <p-accordion-panel [value]="goleador.jugador.id">
            <p-accordion-header>{{ goleador.equipo }}</p-accordion-header>
            <p-accordion-content>
              <div class="p-fluid grid gap-2">
                <!-- Goles -->
                <div class="col-12 md:col-4 p-field mb-2 text-sm">
                  <label class="block font-medium mb-1">Goles</label>
                  <ng-container *ngIf="!esSoloLectura; else soloVistaGoles">
                    <p-inputNumber [(ngModel)]="goleador.goles" [min]="0" [max]="100" [showButtons]="true"
                      inputStyleClass="text-sm w-full" />
                  </ng-container>
                  <ng-template #soloVistaGoles>
                    <span>{{ goleador.goles }}</span>
                  </ng-template>
                </div>

                <!-- Asistencias -->
                <div class="col-12 md:col-4 p-field mb-2 text-sm">
                  <label class="block font-medium mb-1">Asistencias</label>
                  <ng-container *ngIf="!esSoloLectura; else soloVistaAsistencias">
                    <p-inputNumber [(ngModel)]="goleador.asistencias" [min]="0" [max]="100" [showButtons]="true"
                      inputStyleClass="text-sm w-full" />
                  </ng-container>
                  <ng-template #soloVistaAsistencias>
                    <span>{{ goleador.asistencias }}</span>
                  </ng-template>
                </div>

                <!-- Atajadas -->
                <div class="col-12 md:col-4 p-field mb-2 text-sm">
                  <label class="block font-medium mb-1">Atajadas</label>
                  <ng-container *ngIf="!esSoloLectura; else soloVistaAtajadas">
                    <p-inputNumber [(ngModel)]="goleador.atajadas" [min]="0" [max]="100" [showButtons]="true"
                      inputStyleClass="text-sm w-full" />
                  </ng-container>
                  <ng-template #soloVistaAtajadas>
                    <span>{{ goleador.atajadas }}</span>
                  </ng-template>
                </div>

                <!-- Botón eliminar -->
                <div class="col-12 text-right" *ngIf="!esSoloLectura">
                  <p-button icon="pi pi-times" (click)="eliminarHighlight(goleador.jugador.id)"
                    styleClass="p-button-sm p-button-danger" label="Quitar"></p-button>
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
          }
        </p-accordion>
      </div>


      <!-- Lista Negros -->
      <div class="card">
        <p *ngIf="!getGoleadoresNegro().length">No hay highlights registradas</p>

        <p-accordion *ngIf="getGoleadoresNegro().length && renderAccordion" [(activeIndex)]="panelesActivosNegro">
          <h3>Jugadores Negro</h3>
          @for (goleador of getGoleadoresNegro(); track goleador.jugador.id) {
          <p-accordion-panel [value]="goleador.jugador.id">
            <p-accordion-header>{{ goleador.jugador.nombre }}</p-accordion-header>
            <p-accordion-content>
              <div class="p-fluid grid gap-2">
                <!-- Goles -->
                <div class="col-12 md:col-4 p-field mb-2 text-sm">
                  <label class="block font-medium mb-1">Goles</label>
                  <ng-container *ngIf="!esSoloLectura; else soloVistaGoles">
                    <p-inputNumber [(ngModel)]="goleador.goles" [min]="0" [max]="100" [showButtons]="true"
                      inputStyleClass="text-sm w-full" />
                  </ng-container>
                  <ng-template #soloVistaGoles>
                    <span>{{ goleador.goles }}</span>
                  </ng-template>
                </div>

                <!-- Asistencias -->
                <div class="col-12 md:col-4 p-field mb-2 text-sm">
                  <label class="block font-medium mb-1">Asistencias</label>
                  <ng-container *ngIf="!esSoloLectura; else soloVistaAsistencias">
                    <p-inputNumber [(ngModel)]="goleador.asistencias" [min]="0" [max]="100" [showButtons]="true"
                      inputStyleClass="text-sm w-full" />
                  </ng-container>
                  <ng-template #soloVistaAsistencias>
                    <span>{{ goleador.asistencias }}</span>
                  </ng-template>
                </div>

                <!-- Atajadas -->
                <div class="col-12 md:col-4 p-field mb-2 text-sm">
                  <label class="block font-medium mb-1">Atajadas</label>
                  <ng-container *ngIf="!esSoloLectura; else soloVistaAtajadas">
                    <p-inputNumber [(ngModel)]="goleador.atajadas" [min]="0" [max]="100" [showButtons]="true"
                      inputStyleClass="text-sm w-full" />
                  </ng-container>
                  <ng-template #soloVistaAtajadas>
                    <span>{{ goleador.atajadas }}</span>
                  </ng-template>
                </div>

                <!-- Botón eliminar -->
                <div class="col-12 text-right" *ngIf="!esSoloLectura">
                  <p-button icon="pi pi-times" (click)="eliminarHighlight(goleador.jugador.id)"
                    styleClass="p-button-sm p-button-danger" label="Quitar"></p-button>
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
          }
        </p-accordion>
      </div>
    </div>

    <!-- Footer -->
    <div>
      <p-button label="Guardar" (click)="saveMatch()" class="p-button-primary" *ngIf="!esSoloLectura" />
      <p-button label="Cancelar" (click)="modalVisible = false" class="p-button-secondary" />
    </div>
  </div>
</p-dialog>

<!-- Modal con el componente hijo -->
<p-dialog [(visible)]="mostrarModal" modal header="Formación del Partido">
  <app-formacion *ngIf="mostrarModal" [idPartido]="idPartido" (cargarPartidosP)="cargarPartidos()"></app-formacion>
</p-dialog>

<p-toast></p-toast>
<p-confirmdialog [style]="{ width: '450px' }" />