<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo Jugador" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>
</p-toolbar>
<p-toast></p-toast>

<p-table #dt [value]="jugadores()" [rows]="10" [columns]="cols" [paginator]="true"
    [globalFilterFields]="['nombre', 'apodo', 'pos_principal', 'pos_secundaria', 'pierna_habil', 'media']"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedJugador" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} jugadores" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Lista Jugadores</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 16rem">Nombre</th>
            <th pSortableColumn="apodo" style="min-width:16rem">
                Apodo
                <p-sortIcon field="apodo" />
            </th>
            <th pSortableColumn="pos_principal" style="min-width: 8rem">
                Pos. Principal
                <p-sortIcon field="pos_principal" />
            </th>
            <th pSortableColumn="pos_secundaria" style="min-width:10rem">
                Pos. Secundaria
                <p-sortIcon field="pos_secundaria" />
            </th>
            <th pSortableColumn="pierna_habil" style="min-width: 12rem">
                Pierna Habil
                <p-sortIcon field="pierna_habil" />
            </th>
            <th pSortableColumn="media" style="min-width: 12rem">
                Media
                <p-sortIcon field="media" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-jugador>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="jugador" />
            </td>
            <td style="min-width: 12rem">{{ jugador.nombre }}</td>
            <td style="min-width: 16rem">{{ jugador.apodo }}</td>
            <td>{{ jugador.pos_principal }}</td>
            <td>{{ jugador.pos_secundaria }}</td>
            <td>{{ jugador.pierna_habil }}</td>
            <td>
                <p-badge value="i" (click)="estadisticasJugador(jugador)" badgeSize="small" severity="info" />
                {{ jugador.media }}
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editJugador(jugador)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteJugador(jugador)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="jugadorDialog" [style]="{ width: '450px'  }" header="Jugador" [modal]="true" (onHide)="hideDialog()">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="nombre" class="block font-bold mb-3">Nombre</label>
                <input type="text" pInputText id="nombre" [(ngModel)]="jugador.nombre" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !jugador.nombre">Requerido.</small>
            </div>
            <div>
                <label for="apodo" class="block font-bold mb-3">Apodo</label>
                <input type="text" pInputText id="apodo" [(ngModel)]="jugador.apodo" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !jugador.apodo">Requerido.</small>
            </div>
            <div>
                <label for="pos_principal" class="block font-bold mb-3">Posición Principal</label>
                <p-select [options]="posiciones" [(ngModel)]="jugador.pos_principal" placeholder="Posicion" fluid
                    required>
                </p-select>
                <small class="text-red-500" *ngIf="submitted && !jugador.pos_principal">Requerido.</small>
            </div>
            <div>
                <label for="pos_secundaria" class="block font-bold mb-3">Posición Secundaria</label>
                <p-select [options]="posiciones" [(ngModel)]="jugador.pos_secundaria" placeholder="Posicion" fluid
                    required>
                </p-select>
                <small class="text-red-500" *ngIf="submitted && !jugador.pos_secundaria">Requerido.</small>
            </div>
            <div>
                <label for="pierna_habil" class="block font-bold mb-3">Pierna Hábil</label>
                <p-select [options]="piernaHab" [(ngModel)]="jugador.pierna_habil" placeholder="Pierna Habil" fluid
                    required>
                </p-select>
                <small class="text-red-500" *ngIf="submitted && !jugador.pierna_habil">Requerido.</small>
            </div>
            <label class="block font-bold mb-3">Datos Media</label>
            <div *ngIf="jugador.datosMedia" class="grid grid-cols-2 gap-4">
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.ritmo" required inputId="ritmo" mode="decimal"
                        [min]="0" [max]="100" [showButtons]="true" (ngModelChange)="calcularMedia()" />
                    <label for="ritmo">Ritmo</label>
                </p-floatlabel>
                <small class="text-red-500"
                    *ngIf="submitted && (jugador.datosMedia?.ritmo === null || jugador.datosMedia?.ritmo === undefined)">Requerido.</small>
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.tiro" required inputId="tiro" mode="decimal"
                        [min]="0" [max]="100" [showButtons]="true" (ngModelChange)="calcularMedia()" />
                    <label for="tiro">Tiro</label>
                </p-floatlabel>
                <small class="text-red-500"
                    *ngIf="submitted && (jugador.datosMedia?.tiro === null || jugador.datosMedia?.tiro === undefined)">Requerido.</small>
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.pase" required inputId="pase" mode="decimal"
                        [min]="0" [max]="100" [showButtons]="true" (ngModelChange)="calcularMedia()" />
                    <label for="pase">Pase</label>
                </p-floatlabel>
                <small class="text-red-500"
                    *ngIf="submitted && (jugador.datosMedia?.pase === null || jugador.datosMedia?.pase === undefined)">Requerido.</small>


                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.regate" required inputId="regate" mode="decimal"
                        [min]="0" [max]="100" [showButtons]="true" (ngModelChange)="calcularMedia()" />
                    <label for="regate">Regate</label>
                </p-floatlabel>
                <small class="text-red-500"
                    *ngIf="submitted && (jugador.datosMedia?.regate === null || jugador.datosMedia?.regate === undefined)">Requerido.</small>
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.defensa" required inputId="defensa" mode="decimal"
                        [min]="0" [max]="100" [showButtons]="true" (ngModelChange)="calcularMedia()" />
                    <label for="defensa">Defensa</label>
                </p-floatlabel>
                <small class="text-red-500"
                    *ngIf="submitted && (jugador.datosMedia?.defensa === null || jugador.datosMedia?.defensa === undefined)">Requerido.</small>
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.fisico" required inputId="fisico" mode="decimal"
                        [min]="0" [max]="100" [showButtons]="true" (ngModelChange)="calcularMedia()" />
                    <label for="fisico">Fisico</label>
                </p-floatlabel>
                <small class="text-red-500"
                    *ngIf="submitted && (jugador.datosMedia?.fisico === null || jugador.datosMedia?.fisico === undefined)">Requerido.</small>
            </div>

            <div>
                <label for="media" class="block font-bold mb-3">Media</label>
                <p-inputnumber id="media" [(ngModel)]="jugador.media" required readonly fluid [min]="1"
                    [max]="100"></p-inputnumber>
                <small class="text-red-500"
                    *ngIf="submitted && (jugador.media === null || jugador.media === undefined)">Requerido.</small>
            </div>

        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Save" icon="pi pi-check" (click)="saveJugador()" />
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="estadisticasDialog" [style]="{ width: '450px'  }" header="Estadisticas" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div class="col-span-12 xl:col-span-6">
                <div class="card flex flex-col items-center">
                    <p-chart type="radar" [data]="radarData" [options]="radarOptions"></p-chart>
                </div>
            </div>
            <div>
                <label for="media" class="block font-bold mb-3">Media</label>
                <p-inputnumber id="media" [(ngModel)]="jugador.media" readonly fluid [min]="1"
                    [max]="100"></p-inputnumber>
            </div>
            <label class="block font-bold mb-3">Datos Media</label>
            <div *ngIf="jugador.datosMedia" class="grid grid-cols-2 gap-4">
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.ritmo" readonly inputId="ritmo" mode="decimal"
                        [min]="0" [max]="100" />
                    <label for="ritmo">Ritmo</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.tiro" readonly inputId="tiro" mode="decimal"
                        [min]="0" [max]="100" />
                    <label for="tiro">Tiro</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.pase" readonly inputId="pase" mode="decimal"
                        [min]="0" [max]="100" />
                    <label for="pase">Pase</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.regate" readonly inputId="regate" mode="decimal"
                        [min]="0" [max]="100" />
                    <label for="regate">Regate</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.defensa" readonly inputId="defensa" mode="decimal"
                        [min]="0" [max]="100" />
                    <label for="defensa">Defensa</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-inputnumber [(ngModel)]="jugador.datosMedia.fisico" readonly inputId="fisico" mode="decimal"
                        [min]="0" [max]="100" />
                    <label for="fisico">Fisico</label>
                </p-floatlabel>
            </div>
            <div class="grid grid-cols-4 gap-4">
                <label for="partidosJugados" class="block font-bold mb-3">Partidos Jugados</label>
                <input type="text" pInputText id="partidosJugados" [(ngModel)]="estadisticas.partidosJugados" fluid
                    readonly />
                <label for="partidosGanados" class="block font-bold mb-3">Partidos Ganados</label>
                <input type="text" pInputText id="partidosGanados" [(ngModel)]="estadisticas.partidosGanados" fluid
                    readonly />
            </div>
            <div class="grid grid-cols-4 gap-4">
                <label for="partidosGanados" class="block font-bold mb-3">Porcentaje Victoria</label>
                <input type="text" pInputText id="partidosGanados" [(ngModel)]="estadisticas.porcentajeVictoria" fluid
                    readonly />
                <label for="goles" class="block font-bold mb-3">Goles</label>
                <input type="text" pInputText id="goles" [(ngModel)]="estadisticas.goles" fluid readonly />
            </div>
            <div class="grid grid-cols-4 gap-4">
                <label for="asistencias" class="block font-bold mb-3">Asistencias</label>
                <input type="text" pInputText id="asistencias" [(ngModel)]="estadisticas.asistencias" fluid readonly />
                <label for="atajadas" class="block font-bold mb-3">Atajadas</label>
                <input type="text" pInputText id="atajadas" [(ngModel)]="estadisticas.atajadas" fluid readonly />
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />