<h1>Ultimo Partido</h1>
<div class="grid grid-cols-1 xl:grid-cols-2 gap-y-4 gap-x-4 mb-5">
  @if (ultimoPartido) {
    <app-last-match-card [lastMatchInfo]=ultimoPartido />
    <line-up-card [lastMatchInfo]=ultimoPartido />
  }
</div>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mt-2 gap-4 mb-5">
  @for (item of statsData; track $index + item.title) {
    <stat-card [imageUrl]="item.imageUrl" [stat]=item.stat [title]=item.title [player]=item.player />
  }
</div>
<h2>Leaderboard Total</h2>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <div *ngFor="let grupo of statsList" >
    <div class="card p-4 rounded-lg">
      <h3 class="text-xl font-semibold mb-4">{{ grupo.title }}</h3>
      <ul class="space-y-2">
        <li *ngFor="let jugador of grupo.jugadores; let i = index" class="flex items-center justify-between">
          <span>{{ i + 1 }}.º {{ jugador.player }}</span>
          <span class="font-bold">{{ jugador.stat }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<h2>Leaderboard Medias 75</h2>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <div *ngFor="let grupo of statsList" >
    <div class="card p-4 rounded-lg">
      <h3 class="text-xl font-semibold mb-4">{{ grupo.title }}</h3>
      <ul class="space-y-2">
        <li *ngFor="let jugador of grupo.jugadoresMedia; let i = index" class="flex items-center justify-between">
          <span>{{ i + 1 }}.º {{ jugador.player }}</span>
          <span class="font-bold">{{ jugador.stat }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

